*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#header{
    background-color: black;
    color: white;
    grid-area: header;
}
#menu{
    background-color:red;
    color: white;
    grid-area: menu;
}
#hero{
    background-color :blue;
    color: white;
    grid-area: hero;
    
}
#main{
    background-color:darkblue;
    color: white;
    grid-area: main;
}
#banner{
    background-color: yellow;
    color: black;
    grid-area: banner;
}
#extra{
    background-color: green;
    color: black;
    grid-area: extra;
}
#image{
    background-color: lightblue;
    color: black;
    grid-area:image;
}
.grid{
    width:100vw;
    height: 100vh;
    display: grid;
}
.mobile{
    grid-template: "header" 1fr
    "menu"1fr
    "hero"3fr
    "main"3fr
    "banner"2fr
    "extra"2fr    
    "image"2fr;
}
.tablet{
    grid-template: "header header header"1fr
    "hero hero hero"4fr
    "menu main main"4fr
    "menu banner banner"2fr
    "menu extra image"2fr
    /1fr 2fr 1fr
    ;
}
.desktop{
    grid-template:"header menu menu"1fr
    "hero hero hero"6fr
    "main main image"2fr
    "main main extra"2fr
    "banner banner banner"2fr
    /1fr 2fr 1fr ;
}