/* *{
    color:red; Seletor Geral, não sobrescreve
}
p{
    color:blue; Os que estão por ultimo serão sobrescritos
}
h1{
    color:yellow;
}
h2{
    color:brown;
}
#paragrafo1{
    color: purple;
}
#paragrafo2{
    color:brown;
}
.grupo1{
    font-size: large;
}
.titulos{
    color:pink;
}

Título 3, Paragrafs 3-2,4-1,5-2
.verde{
    color:green;
}
.font
{
    font-size:x-large;
} */

h2.titulos{
    color:green;
}