.titulo{
    color: rgb(0, 0, 255);
    background-color:rgb(224, 203, 164);
}
#paragrafo1{
    color:rgb(195, 0, 0);
}
.fundo-textura{
    
}
body{
    background-image: url("./images/gp-p003-2-400x400.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:50%,50% ;
    background-size: contain;
}
p{
    background-image:linear-gradient(to bottom, red, blue, purple, yellow);
}